<nav>
    <ul>
        <li>{{#link-to "index"}}Home Page{{/link-to}}</li>
        <li>{{#link-to "about"}}About Page{{/link-to}}</li>
        <li>{{#link-to "games"}}Game List{{/link-to}}</li>
    </ul>
</nav>

{{outlet}}